# Ignore node_modules directory
node_modules/

# Ignore any .DS_Store files created by macOS
.DS_Store

# Ignore any .vscode directory and its contents
.vscode/

# Ignore any .idea directory and its contents
.idea/

# Ignore any .cache directory and its contents
.cache/

# Ignore any .eslintcache file
.eslintcache

# Ignore any .npmrc file
.npmrc

# Ignore any .yarnrc file
.yarnrc

# Ignore any .yarn directory and its contents
.yarn/

# Ignore any .pnp.js file created by pnpm
.pnp.js

# Ignore any .pnp.cjs file created by pnpm
.pnp.cjs

# Ignore any .pnp.* file created by pnpm
.pnp.*

# Ignore any .parcel-cache directory and its contents
.parcel-cache/

# Ignore any build artifacts
/build

# Ignore any coverage reports
/coverage

# Ignore any .log files
*.log

# Ignore any temporary files or directories
*.tmp

# Ignore all environment variables except for .env.example
!.env.local
